<%- include("header") -%>

<h2>About</h2>

<p>This is a ToDo List Webpage.You can add the work which you want to do or which already done according to your
    choice.If you have done any work you can cut it out also.</p>

    <%- include("footer") -%>